body {
  margin: 0;
}
nav {
  background-color: rgb(74, 128, 73);
  padding: 1.1em;
}
.button {
  font-size: 1.2em;
  color: darkgrey;
}
a {
  text-decoration: none;
  color: white;
}
nav ul {
  padding: 0;
  width: 80%;
  font-size: 1.5em;
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#head {
  background: url("images/image1.jpg") center;
  background-size: cover;
  padding: 6em;
  color: white;
}
#content {
  color: white;
}
.top-text {
  text-align: center;
}
.farticle1 {
  background: url("images/image2.jpg") center;
  background-size: cover;
  padding: 4em;
}
.farticle2 {
  background: url("images/image3.jpg") center;
  background-size: cover;
  padding: 4em;
}
.barticle1 {
  background: url("images/image4.jpg") center;
  background-size: cover;
  padding: 4em;
}
.barticle2 {
  background: url("images/image5.jpg") center;
  background-size: cover;
  padding: 4em;
}
#content {
  display: flex;
}
